@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Pixelify Sans", sans-serif;
    font-size: 60%;
    margin: 0;
    padding: 0;
    color: tan;
}

    /*color changes for background*/
body{
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #273991, #a1399a,
    #b47948, #bf4444, #7b1064);
    background-size: 400% 400%;
    animation: bg 20s ease infinite;
}
 
@keyframes bg{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}

/*Titles*/
h1,
h2,
h3,
h4 {
    margin-bottom: 1 rem;
}

h1 {
    font-size: 5rem;
    color: black;
    margin-bottom: 4rem;
    letter-spacing: 0.2rem;
}

h1>span {
    font-size: 3.4rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
}

h3 {
    font-size: 2.8rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
}

@media only screen and (max-widthpx) {
    h1 {
        font-family: 2.5rem;
    }
}
/*positioning styles*/
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.container>* {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/*Quiz answer boxs*/

.choice-container {
    display: flex;
    margin: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border:0.1rem solid black;
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: rgb(42, 41, 41);
    transform: translateY(-0.1rem);
    transition: transform 200ms;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #363636;
    color: white;
  }

/*btn styling*/
.btn {
    margin: 1rem;
    width: 15rem;
    font-size: medium;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #000000;
    background-color: white;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }

